.Tasks_List {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 50%;
  height: 650px;
  overflow-y: auto;
}

.uncompleted {
  background-color: rgb(234, 142, 167);
  margin-right: 5px;
  border: 3px;
  border-radius: 2%;
}

.completed {
  background-color: rgb(86, 200, 172);
  margin-left: 5px;
  border: 3px;
  border-radius: 2%;
}